!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', http: {equiv: "Content-Type"}}/
    %title Rails5 Scaffold
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', data: {'turbolinks-track' => 'reload'}
    = javascript_include_tag 'application', data: {'turbolinks-track' => 'reload'}
  %body
    .mui-appbar
      .mui-row
        .mui-col-md-10.mui-col-md-offset-2
          %h3= link_to 'Chat', root_path, style: 'text-decoration: none; color: white;'
    .mui-container-fluid
      .mui-row
        .mui-col-md-8.mui-col-md-offset-2
          = @message if @message
          = yield
